{% load static %}

<div class="container form__wrapper">
    <h2>Свяжитесь с нами</h2>
    <div class="form__content">
        <form class="form__hero" method="post">
            {% csrf_token %}
            {{ form.errors }}
            {{ form.name }}
            {{ form.email }}
            {{ form.phone }}
            {{ form.message }}
            <button type="submit">Отправить</button>
        </form>
        <div class="form__contacts">
            <h3>Контакты</h3>
            {% for contact in contacts %}
                <div class="form__contacts-item">
                    <img src="{% static 'images/location.svg' %}" alt=""/>
                    <p class="form__contacts-item">{{ contact.address }}</p>
                </div>
                <div class="form__contacts-item">
                    <img src="{% static 'images/phone.svg' %}" alt=""/>
                    <p class="form__contacts-item">{{ contact.phone }}</p>
                </div>
                <div class="form__contacts-item">
                    <img src="{% static 'images/email.svg' %}" alt=""/>
                    <p class="form__contacts-item">{{ contact.email }}</p>
                </div>
            {% endfor %}
            <div class="form-square"></div>
        </div>
    </div>
</div>