@font-face {
	font-family: "Montserrat";
	font-weight: 400;
	src: local("Montserrat"), url("fontsRegular.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat";
	font-weight: 600;
	src: local("Montserrat"), url("fontsSemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat";
	font-weight: 700;
	src: local("Montserrat"), url("fontsBold.ttf") format("truetype");
}

@font-face {
	font-family: "Gotham";
	font-weight: 700;
	src: local("Gotham"), url("fonts.otf") format("truetype");
}
